<%= render 'form', user: @user, form_title: 'Edit user'%>

<div class="center">
  <%= link_to 'Show', @user, class: "btn btn-default" %> |
  <%= link_to 'Back', users_path, class: "btn btn-default" %>
</div>
